html,
body {
    background-color: #f1f1f1;
    width: 200px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

h3 {
    text-align: center;
}
.hidden {
    display: none;
}

