body {
    background-color: white;
    width: 200px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

#title {
    text-align: center;
}

#subTitle {
    text-align: center;
    background-color: #f1f1f1;
    color: #213aa9;
}

#copiedText p:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

