html {
    box-sizing: border-box;
    border: solid black 2px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    width: 300px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

#logo {
    margin-left: 15px;
    width: 200px;
    height: 200px;
}

#subTitle {
    font-family: Impact, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

#addCopy input {
    background: url(/icons/add.png) right no-repeat;
    width: 97%;
}

#copiedText {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.elementFromCopies:hover {
    background-color: #000;
    color: #fff;
}
.elementFromCopies {
    width: 100%;
}
